.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
    gap: 20px;
    margin: 20px 0;
  }
@media (max-width: 990px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .product-list {
        grid-template-columns: 1fr;
    }
}